/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
    font-family: 'EB Garamond', Arial, monospace;
    background-color: #36454F;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;      
}

.active{
	background: yellow;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }


/*Style the images*/
img{
    height: 175px;
	width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    color: white;
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
    background-color: #24211a;
	border: 3px solid blue;
	margin: 20px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: white;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

.headshot{
    height: 40%;
    width: 40%;
    border: 3px solid black;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 40%;
    height: auto;
  }

.gallery {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1cm;
}

.gallery img {
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}

.Hello {
    animation: fadeIn 3s;
}

.Hello2 {
    animation: fadeIn 10s;
    align-self: flex-end;
}

.accordion {
    color: #444;
    cursor: pointer;    
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

.accordion:focus {
    background-color: #ccc;
    text-transform: uppercase;
  }

  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen and (min-width: 700px) {
    .about {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1cm;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1cm;
    }

    .about img{
        width: max-content;
        height: max-content;
    }
}

@media (prefers-reduced-motion) {
    .Hello {
        animation: none;
    }
    .Hello2 {
        animation: none;
    }
}